body
{
	background: darkgreen;
	color: white;
}

h1, h2, h3
{
	color: white;
}

a
{
	color: white;
	text-decoration: none;
}
a:hover
{
	color: white;
	text-decoration: underline;
}

p
{
	margin:10px;
}

#block_stat, #block_top
{
	float: left;
	margin: 10px 60px 20px 10px;
}

.year_link
{
	border-bottom: 2px dotted #ffffff;
	text-decoration: none;
}
.year_link:hover
{
	border-bottom: 2px solid #ffffff;
	text-decoration: none;
}
.year_anchor:hover
{
	text-decoration: none;
}

#block_games_title
{
	border: 1px solid red;
	width: 140px;
	height: 50px;
	margin: 0px;
	text-align: center;
}
#block_years
{
	border: 1px solid red;
	font-size: 15px;
	width: 200px;
	height: 50px;
	position: absolute;
	left: 140px;
	top: 0px;
	margin: 0px;
}
.block_year
{
	border: 1px solid red;
	margin: 0px;
}
