body
{
	color: white;
}
body.light
{
	background: darkgreen;
}
body.dark
{
	background: #005500;
}
body.menu
{
	background: darkgreen;
	border-right: 4px solid #005500;
}

#logo
{
	width: 85;
	height: 85;
}
#logo_block
{
	float: left;
	position: relative;
	left: 40px;
}

h1, h2, h3
{
	color: white;
}

a
{
	color: white;
	text-decoration: none;
}
a:hover
{
	color: white;
	text-decoration: underline;
}

p
{
	margin:10px;
}

#block_stat, #block_top
{
	float: left;
	margin: 10px 60px 20px 10px;
}

.year_link
{
	border-bottom: 2px dotted #ffffff;
	text-decoration: none;
}
.year_link:hover
{
	border-bottom: 2px solid #ffffff;
	text-decoration: none;
}
.year_anchor:hover
{
	text-decoration: none;
}

#block_games_title
{
	width: 140px;
	margin: 0px 0px 40px 0px;
	text-align: center;
}
#block_years
{
	font-size: 15px;
	width: 200px;
	position: absolute;
	left: 170px;
	top: 15px;
	margin: 0px 0px 0px 0px;
}
.block_year
{
	margin: 0px;
}

.content
{
	border: 10px solid #003300;
}