body
{
	background: darkgreen;
	color: white;
}

h1, h2, h3
{
	color: white;
}

a
{
	color: white;
	text-decoration: none;
}
a:hover
{
	color: white;
	text-decoration: underline;
}

p
{
	margin:10px;
}

#block_stat, #block_top
{
	float: left;
	margin: 10px 60px 20px 10px;
}

.year_link
{
	border-bottom: 2px dotted #ffffff;
	text-decoration: none;
}
.year_link:hover
{
	border-bottom: 2px solid #ffffff;
	text-decoration: none;
}
.year_anchor:hover
{
	text-decoration: none;
}

#block_games_title
{
	margin: 10px;
	float: left;
}
#block_years
{
	margin: 10px;
	float: left;
	font-size: 15px;
}
.block_year
{
	margin: 10px;
	float: none;
}
